workflows/keuangan-lhs.json
{
  "name": "Keuangan Lhs",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -640,
        192
      ],
      "id": "fa49e897-d108-4a2c-b17b-aad219387bf2",
      "name": "Telegram Trigger",
      "webhookId": "1f3923b3-0203-4889-aa67-cb59fa5e9da7",
      "credentials": {
        "telegramApi": {
          "id": "kejhnikbarNp7SsN",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function formatRupiah(n) {\n  const s = Math.round(Number(n || 0)).toString();\n  return \"Rp.\" + s.replace(/\\B(?=(\\d{3})+(?!\\d))/g, \".\");\n}\n\n// Ambil waktu dari Telegram (msg.date = unix seconds, UTC epoch)\n// Ini membuat timestamp tidak pernah \"lebih maju\" dari server, sehingga /week tidak 0 lagi.\nfunction dateTimeFromTelegram(msgDateSec) {\n  const utc = new Date((msgDateSec || Math.floor(Date.now() / 1000)) * 1000);\n  const WIB_OFFSET_MS = 7 * 60 * 60 * 1000;\n  const wib = new Date(utc.getTime() + WIB_OFFSET_MS);\n\n  const pad = (x) => String(x).padStart(2, \"0\");\n  const yyyy = wib.getUTCFullYear();\n  const mm = pad(wib.getUTCMonth() + 1);\n  const dd = pad(wib.getUTCDate());\n  const hh = pad(wib.getUTCHours());\n  const mi = pad(wib.getUTCMinutes());\n  const ss = pad(wib.getUTCSeconds());\n\n  return {\n    timestamp: utc.toISOString(), // UTC ISO konsisten\n    date: `${yyyy}-${mm}-${dd}`,  // WIB\n    time: `${hh}:${mi}:${ss}`,    // WIB\n  };\n}\n\nfunction extractCategory(text) {\n  // kategori = kata pertama (huruf/angka/underscore/dash) setelah spasi awal\n  // contoh: \"geprek 12k\" => \"geprek\", \"bensin 55k\" => \"bensin\"\n  const t = text.trim();\n  const m = t.match(/^([a-zA-Z0-9_-]+)/);\n  return m ? m[1].toLowerCase() : \"lainnya\";\n}\n\nfunction extractAmount(text) {\n  const lower = text.toLowerCase();\n\n  // Ambil angka pertama dengan opsi desimal koma/titik + suffix k/rb/ribu\n  // contoh: 25.5k, 25,5k, 12k, 15000, 15rb, 2.000\n  const m = lower.match(/(\\d[\\d.,]*)\\s*(k|rb|ribu)?\\b/);\n  if (!m) return null;\n\n  let numStr = m[1].trim();\n\n  // Normalisasi:\n  // - jika ada koma sebagai desimal (25,5k) -> 25.5\n  // - jika ada titik sebagai desimal (25.5k) -> 25.5\n  // - jika ada pemisah ribuan (2.000) -> 2000\n  // Aturan:\n  // 1) Jika ada suffix k/rb/ribu, kita izinkan desimal: 25.5k = 25500\n  // 2) Jika tidak ada suffix, kita anggap . dan , sebagai pemisah ribuan: 2.000 = 2000\n  const suf = m[2];\n\n  if (suf === \"k\" || suf === \"rb\" || suf === \"ribu\") {\n    // ubah koma jadi titik untuk desimal\n    numStr = numStr.replace(/,/g, \".\");\n    // hapus pemisah ribuan: \"1.234.5\" tidak umum, tapi aman: hapus semua kecuali digit dan titik pertama\n    // pendekatan: jika ada lebih dari 1 titik, hapus semua titik lalu pakai integer\n    const dots = (numStr.match(/\\./g) || []).length;\n    let val;\n    if (dots <= 1) {\n      val = parseFloat(numStr);\n    } else {\n      val = parseFloat(numStr.replace(/\\./g, \"\"));\n    }\n    if (!isFinite(val)) return null;\n    return Math.round(val * 1000);\n  } else {\n    // tanpa suffix: anggap titik/koma sebagai pemisah ribuan\n    const digits = numStr.replace(/[^\\d]/g, \"\");\n    const val = parseInt(digits, 10);\n    return Number.isFinite(val) ? val : null;\n  }\n}\n\nconst msg = $json.message;\nconst rawText = (msg?.text || \"\").trim();\n\nconst user_id = msg?.from?.id;\nconst username = msg?.from?.username || msg?.from?.first_name || \"unknown\";\nconst chat_id = msg?.chat?.id;\n\nif (!rawText) {\n  return [{\n    type: \"error\",\n    chat_id,\n    reply: \"Saya hanya memproses teks. Contoh: geprek 12k\",\n  }];\n}\n\nconst lower = rawText.toLowerCase();\nlet type = \"add\";\nif (lower.startsWith(\"/week\")) type = \"week\";\nif (lower.startsWith(\"/undo\")) type = \"undo\";\n\nconst t = dateTimeFromTelegram(msg?.date);\n\nlet amount = null;\nlet category = null;\n\n// Untuk add:\nif (type === \"add\") {\n  amount = extractAmount(rawText);\n  category = extractCategory(rawText);\n\n  if (!amount) {\n    return [{\n      type: \"error\",\n      chat_id,\n      reply: \"Nominal tidak ditemukan. Contoh: geprek 12k / bensin 55k / parkir 2.000 / ayam 25.5k\",\n    }];\n  }\n}\n\nconst id = `${Date.now()}-${user_id}`;\n\n// Template reply add sesuai permintaanmu (tanpa note)\nconst reply_add =\n  `✅ Tercatat\\n\\n` +\n  `🗂️ Kategori : ${category}\\n` +\n  `💵 Nominal  : ${formatRupiah(amount)}\\n\\n` +\n  `🗓️ ${t.date}\\n` +\n  `🕰️ ${t.time}`;\n\nreturn [{\n  type,\n  id,\n  timestamp: t.timestamp, // UTC ISO dari Telegram\n  date: t.date,           // WIB\n  time: t.time,           // WIB\n  user_id,\n  username,\n  chat_id,\n  amount,\n  category,\n  raw_text: rawText,\n  reply_add,\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        192
      ],
      "id": "6d39a844-5339-4b0a-9c8c-921eda378ced",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.type}}",
                    "rightValue": "=add",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "18640a41-1a93-408f-ac65-d2a0b82cb537"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d6496af6-5dbf-4808-b931-d683e3854dc7",
                    "leftValue": "={{$json.type}}",
                    "rightValue": "week",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5592db5a-8e62-4f28-b8fe-a80505036303",
                    "leftValue": "={{$json.type}}",
                    "rightValue": "undo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -224,
        160
      ],
      "id": "9a7b4de7-4771-40fc-8522-296d5212bf15",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "={{$node[\"Code in JavaScript\"].json.chat_id}}",
        "text": "={{$node[\"Code in JavaScript\"].json.reply_add}}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        224,
        0
      ],
      "id": "4b347847-81d7-40af-8d95-399ae14c0af8",
      "name": "Send a text message",
      "webhookId": "d31843c9-1c72-42e1-a41e-1f4dc77e4c13",
      "credentials": {
        "telegramApi": {
          "id": "kejhnikbarNp7SsN",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1LxxrgvKLQDJAjNmJtm2sQPHt8j_SP4zC3v5Q768SQxc",
          "mode": "list",
          "cachedResultName": "Keuangan Lhs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LxxrgvKLQDJAjNmJtm2sQPHt8j_SP4zC3v5Q768SQxc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "transactions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LxxrgvKLQDJAjNmJtm2sQPHt8j_SP4zC3v5Q768SQxc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{$json.id}}",
            "deleted_at": "={{\"\"}}",
            "is_deleted": "={{false}}",
            "raw_text": "={{$json.raw_text}}",
            "note": "={{$json.note}}",
            "category": "={{$json.category}}",
            "username": "={{$json.username}}",
            "chat_id": "={{$json.chat_id}}",
            "time": "={{$json.time}}",
            "date": "={{$json.date}}",
            "timestamp": "={{$json.timestamp}}",
            "amount": "={{$json.amount}}",
            "user_id": "={{$json.user_id}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "amount",
              "displayName": "amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "note",
              "displayName": "note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "raw_text",
              "displayName": "raw_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "is_deleted",
              "displayName": "is_deleted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "deleted_at",
              "displayName": "deleted_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        0
      ],
      "id": "16874325-cc14-4c4b-a7f1-e628a2845b01",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dTFmwS0cmxAWCGUZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LxxrgvKLQDJAjNmJtm2sQPHt8j_SP4zC3v5Q768SQxc",
          "mode": "list",
          "cachedResultName": "Keuangan Lhs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LxxrgvKLQDJAjNmJtm2sQPHt8j_SP4zC3v5Q768SQxc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "transactions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LxxrgvKLQDJAjNmJtm2sQPHt8j_SP4zC3v5Q768SQxc/edit#gid=0"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        176
      ],
      "id": "ed95a384-406b-4b15-96a2-b4e6551082be",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dTFmwS0cmxAWCGUZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = items.map(i => i.json);\nconst chatId = String($node[\"Telegram Trigger\"].json.message.chat.id);\nconst pick = (v) => Array.isArray(v) ? v[0] : v;\n\nconst formatRupiah = (n) => \"Rp.\" + Number(n || 0).toLocaleString(\"id-ID\");\n\nconst isDeleted = (v) => {\n  v = pick(v);\n  if (v === true) return true;\n  if (v === false || v == null || v === \"\") return false;\n  const s = String(v).toLowerCase().trim();\n  return [\"true\", \"yes\", \"1\"].includes(s);\n};\n\nconst parseAmount = (v) => {\n  v = pick(v);\n  if (v == null || v === \"\") return NaN;\n  if (typeof v === \"number\") return v;\n  const digits = String(v).replace(/[^\\d]/g, \"\");\n  return digits ? Number(digits) : NaN;\n};\n\nconst WIB_OFFSET_MS = 7 * 60 * 60 * 1000;\nconst DAY_MS = 24 * 60 * 60 * 1000;\n\nconst nowUtcMs = Date.now();\nconst startUtcMs = nowUtcMs - 7 * DAY_MS;\n\nconst wibDateStringFromUtcMs = (utcMs) => {\n  const w = new Date(utcMs + WIB_OFFSET_MS);\n  const yy = w.getUTCFullYear();\n  const mm = String(w.getUTCMonth() + 1).padStart(2, \"0\");\n  const dd = String(w.getUTCDate()).padStart(2, \"0\");\n  return `${yy}-${mm}-${dd}`;\n};\n\nconst startStr = wibDateStringFromUtcMs(startUtcMs);\nconst endStr = wibDateStringFromUtcMs(nowUtcMs);\n\nconst filtered = rows.filter(r => {\n  if (String(pick(r.chat_id)) !== chatId) return false;\n  if (isDeleted(r.is_deleted)) return false;\n\n  const ts = new Date(pick(r.timestamp));\n  const tsMs = ts.getTime();\n  if (!Number.isFinite(tsMs)) return false;\n\n  return tsMs >= startUtcMs && tsMs <= nowUtcMs;\n});\n\nlet total = 0;\nconst perCategory = {};\n\nfor (const r of filtered) {\n  const amt = parseAmount(r.amount);\n  if (!isFinite(amt) || amt <= 0) continue;\n\n  total += amt;\n\n  const cat = (pick(r.category) || \"lainnya\");\n  perCategory[cat] = (perCategory[cat] || 0) + amt;\n}\n\nlet text = `📊 Rekap 7 Hari Terakhir\\n`;\ntext += `🗓️ ${startStr} s/d ${endStr} (WIB)\\n\\n`;\ntext += `💵 Total: ${formatRupiah(total)}\\n`;\ntext += `🧾 Transaksi: ${filtered.length}\\n\\n`;\n\nif (filtered.length === 0) {\n  text += `Belum ada transaksi 7 hari terakhir.`;\n} else {\n  text += `🗂️ Per Kategori:\\n`;\n  Object.entries(perCategory)\n    .sort((a, b) => b[1] - a[1])\n    .forEach(([cat, amt]) => {\n      text += `• ${cat}: ${formatRupiah(amt)}\\n`;\n    });\n}\n\nreturn [{ json: { chat_id: chatId, reply: text } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        176
      ],
      "id": "b41348e3-8704-44fc-a5d4-5fcd74987ab7",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "chatId": "={{$json.chat_id}}",
        "text": "={{$json.reply}}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        416,
        176
      ],
      "id": "34b79a17-f2ae-4906-95bd-5555813e7c38",
      "name": "Send a text message1",
      "webhookId": "6d2ff02e-6daa-4099-8128-73c95bbd04bb",
      "credentials": {
        "telegramApi": {
          "id": "kejhnikbarNp7SsN",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LxxrgvKLQDJAjNmJtm2sQPHt8j_SP4zC3v5Q768SQxc",
          "mode": "list",
          "cachedResultName": "Keuangan Lhs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LxxrgvKLQDJAjNmJtm2sQPHt8j_SP4zC3v5Q768SQxc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "transactions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LxxrgvKLQDJAjNmJtm2sQPHt8j_SP4zC3v5Q768SQxc/edit#gid=0"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        368
      ],
      "id": "ec6a69dc-d96c-4f7a-9e51-6cb4b77ba1d9",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dTFmwS0cmxAWCGUZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = items.map(i => i.json);\nconst chatId = String($node[\"Telegram Trigger\"].json.message.chat.id);\n\nconst formatRupiah = (n) => \"Rp.\" + Number(n || 0).toLocaleString(\"id-ID\");\n\nconst isDeleted = (v) => {\n  if (v === true) return true;\n  if (v === false || v == null || v === \"\") return false;\n  const s = String(v).toLowerCase();\n  return s === \"true\" || s === \"yes\" || s === \"1\";\n};\n\n// Ambil transaksi milik user yang belum dihapus (kalau kamu memang pakai hard delete, ini tetap aman)\nconst mine = rows\n  .filter(r => String(r.chat_id) === chatId && !isDeleted(r.is_deleted))\n  .sort((a, b) => new Date(b.timestamp) - new Date(a.timestamp));\n\nif (mine.length === 0) {\n  return [{\n    json: {\n      chat_id: chatId,\n      status: \"empty\",\n      reply: \"ℹ️ Tidak ada transaksi yang bisa di-undo.\"\n    }\n  }];\n}\n\nconst last = mine[0];\n\nreturn [{\n  json: {\n    chat_id: chatId,\n    status: \"found\",\n    row_number: last.row_number,\n    reply:\n`↩️ Undo berhasil\n\n🗂️ Kategori : ${last.category || \"lainnya\"}\n💵 Nominal  : ${formatRupiah(last.amount)}\n\n🗓️ ${String(last.date || \"\").trim() || \"-\"}\n🕰️ ${String(last.time || \"\").trim() || \"-\"}`,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        368
      ],
      "id": "3f73c431-9d9f-4b4b-8789-f520287a6d0e",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0b7cac69-3838-45a8-8eb0-0fad1d982572",
              "leftValue": "={{$json.status}}",
              "rightValue": "found",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        368
      ],
      "id": "82bd23f0-ba10-44b9-96c7-f9b175b8c7c5",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1LxxrgvKLQDJAjNmJtm2sQPHt8j_SP4zC3v5Q768SQxc",
          "mode": "list",
          "cachedResultName": "Keuangan Lhs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LxxrgvKLQDJAjNmJtm2sQPHt8j_SP4zC3v5Q768SQxc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "transactions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LxxrgvKLQDJAjNmJtm2sQPHt8j_SP4zC3v5Q768SQxc/edit#gid=0"
        },
        "startIndex": "={{$json.row_number}}"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        656,
        352
      ],
      "id": "df979569-5f13-409c-861e-e61951e45a74",
      "name": "Delete rows or columns from sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dTFmwS0cmxAWCGUZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$node[\"Telegram Trigger\"].json.message.chat.id}}",
        "text": "={{$node[\"Code in JavaScript2\"].json.reply}}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        864,
        352
      ],
      "id": "85311078-945b-40fd-8b4d-c6dfcfac3957",
      "name": "Send a text message2",
      "webhookId": "160a4cc0-37a6-4e0d-9929-f61f6ca39218",
      "credentials": {
        "telegramApi": {
          "id": "kejhnikbarNp7SsN",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$node[\"Telegram Trigger\"].json.message.chat.id}}",
        "text": "={{$node[\"Code in JavaScript2\"].json.reply || \"ℹ️ Tidak ada transaksi yang bisa di-undo.\"}}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        656,
        560
      ],
      "id": "6af5cebf-b5dd-4f23-965a-d84e296dfd71",
      "name": "Send a text message3",
      "webhookId": "aa390475-98ab-42a9-b5a5-fa4666be9f7e",
      "credentials": {
        "telegramApi": {
          "id": "kejhnikbarNp7SsN",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Delete rows or columns from sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete rows or columns from sheet": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "c0b0bc4a-8f1f-4ea2-b873-8906b542961b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1563b341c8ffc9dd358aa2bae59f11cf23611abbae69c8cbfb6e7e1e60a4ab9a"
  },
  "id": "tM5rrVEOYWg5n35yduON-",
  "tags": []
}